@import url("https://fonts.googleapis.com/css?family=Lato"); /* so it can be used on both pages */
@import url("/css/reset.css");

body {
  background-color: #2c2c2c;
}

h2 {
  font-size: 20px;
  padding: 0px 0px 20px 20px;
}

#sales {
  background-color: white;
}

#sales::after { /* why yes, I did copy Scott's idea, because that image is TERRIBLE */
  content: "";
  background: url("/img/family.jpg");
  background-size: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;  
}

#locations {
  line-height: 1.5em;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow-x: auto;
}

.navbar {
  background-color: #E86D0C;
  height: 80px;
  width: 100%;
}
.navbar img{
  float:left;
}
.navbar ul {
  /* display: inline-block; */
  line-height: 80px;
  text-align: right;
}
.navbar li {
  list-style-type: none;
  display: inline;
  font-family: "Lato";
  font-size: 24px;
  /* padding: 50px; */
  color: white;
}

.navbar li a {
  color: white;
  display: inline;
  text-decoration: none;
  padding: 26px 20px;
}

.navbar li a:hover {
  background-color: #2c2c2c;
}

.title {
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 30px;
  padding: 20px;
}

.story, .merchandise, .history {
  font-family: Times, serif;
  font-size: 18px;
  line-height: 1.5em;
  color: white;
  padding: 0px 20px;
  margin-bottom: 20px;
}

.visit {
  /* column-count: 3;
  column-width: 33%;
  column-rule: 1px solid;
  column-rule-color: rgba(255, 255, 255, 0.2); gonna have to save columns for the weekend*/
  font-family: Times, serif;
  font-size: 18px;
  line-height: 1.5em;
  color: white;
  padding: 0px 20px;
  margin-bottom: 20px;
}



.history_cont {
  font-family: Times, serif;
  font-size: 18px;
  line-height: 1.5em;
  color: white;
  padding: 20px 20px;
}

.rainbow_fish, .tshirt, .pike {
  float: left;
  padding: 0px 40px;
}

.cutter {
  float: left;
  padding: 10px 20px 20px 0px;
}

.cookie {
  float: right;
  padding: 10px 20px 40px;
}

.story_section, .merchandise_section, .visit_section {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 0px 0px 20px 20px;
}

.stores {
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding-bottom: 0px;
}

#locations legend {
  font-size: 24px;
  padding: 20px;
}

table {
  table-layout: relative;
  white-space: nowrap;
  margin: 0px 20px;
}

th, tfoot {
  padding-left: 10px;
  border: 1px solid;
  border-color: #dddddd;
  font-weight: bold;
  text-align: center;
}

td {
  padding: 0px 20px;
  text-align: center;
  border: 1px solid;
  border-color: #dddddd;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

#main-form {
  padding: 20px;
  display: inline;
}

.storeAdd {
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  width: 615px;
}

.formTitle {
  background-color: black;
  color: white;
}

.nav_img {
  padding-right: 20px;
}

input {
  margin-right: 5px;
}