body {
  background-color: #2c2c2c;
}

#sales {
  background-color: white;
}

#locations {
  line-height: 1.5em;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.navbar {
  background-color: #E86D0C;
  height: 80px;
  width: 100%;
}
.navbar img{
  float:left;
}
.navbar ul {
  display: inline-block;
}
.navbar li {
  list-style-type: none;
  display: inline;
  font-family: "Lato";
  font-size: 24px;
  padding: 50px;
  color: white;
}

.navbar li a {
  color: white;
  display: inline;
  text-decoration: none;
  line-height: 50px;
  padding: 26px 20px;
}

.navbar li a:hover {
  background-color: #2c2c2c;
}

#title {
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}

.story, .merchandise {
  font-family: Times, serif;
  font-size: 16px;
  line-height: 1.5em;
  color: white;
  padding: 0px 20px;
}

.fishladder, .tshirt {
  float: left;
  padding: 0px 40px;
}

.story_section, .merchandise_section {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 20px;
}

table {
  table-layout: fixed;
  width: 100%;
  
  
}

th {
  border: 30px;
  white-space: nowrap;
}

td {
  padding: 0px 20px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}